
  @import url('https://fonts.googleapis.com/css2?family=Agdasima&family=Inconsolata&family=Quicksand:wght@300;400&display=swap');


* {
  font-family: 'Quicksand', sans-serif;
  box-sizing: border-box;
  padding: 5;
  margin: 5;

}



h2 {

color:cadetblue;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
display:grid;
gap:10px;
}

header nav {
width:600px;
gap:20px;
margin:10px;
fill: blue;
}

nav a {
margin:5px;

}